.app { 
  display: flex; 
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}

@media (min-width: 600px) {
  .app {
    flex-direction: row; /* two columns on desktop */
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .feed {
    flex: 18; /* feed takes more space */
    margin-left: 20%;
    margin-right: 10%;
  }

  .bar {
    flex: 2; /* sidebar takes less space */
    display: block;
    
  }

  * {
    box-sizing: border-box;
  }

}